@use "./variables.scss";

.badge {
  font-family: $monserrat-bold;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: $base-primary;
  text-transform: uppercase;
  margin: 0;
}
