@use "../common/variables.scss";

.button {
  display: inline-block;
  font-family: $monserrat-regular;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover,
  &:focus-visible {
    background-color: $primary-lighter;
    color: $base-white;
  }

  &:active {
    background-color: $primary-darker;
  }
}

.button--primary {
  background-color: $base-primary;
  color: $base-white;

  &:disabled {
    background-color: $base-grey;
  }
}

.button--secondary {
  background-color: $base-white;
  color: $base-primary;

  &:disabled {
    background-color: $light-grey;
    color: $base-white;
  }
}
