@use "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  /* display: flex;
  flex-direction: column;
  min-height: 100%; */
  background-color: $base-white;
  font-family: $monserrat-regular;
  font-size: $font-size-primary-mobile;
  line-height: $line-height-primary-mobile;
  color: $base-black;
  margin: 0;
}

img {
  display: block;
  object-fit: contain;
  min-width: 100%;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

input[type="number"] {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }
}
