/* здесь используйте глобальные переменные */
$monserrat-regular: "Montserrat Regular", "Arial", sans-serif;
$monserrat-bold: "Montserrat Bold", "Arial", sans-serif;
$monserrat-semiBold: "Montserrat SemiBold", "Arial", sans-serif;
$monserrat-medium: "Montserrat Medium", "Arial", sans-serif;
