@use "../common/variables.scss";

.advantages {
  @media (min-width: $tablet-width) and (max-width: $pre-desktop) {
    padding-top: 180px;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__item {
  position: relative;
  --advantages-icon: 0;

  &::before {
    position: absolute;
    content: "";
    width: 52px;
    height: 56px;
    background-image: var(--advantages-icon);
    background-repeat: no-repeat;
    background-size: 52px 56px;
    background-position: center;
  }
}

.advantages__item--speed {
  --advantages-icon: url("../../icons/stack.svg#clock-icon");
}

.advantages__item--convenience {
  --advantages-icon: url("../../icons/stack.svg#shield-icon");
}

.advantages__item--energy {
  --advantages-icon: url("../../icons/stack.svg#lightning-icon");
}

.advantages__item--eco {
  --advantages-icon: url("../../icons/stack.svg#leaf-icon");
}

.advantages__item-title {
  font-family: $monserrat-bold;
  font-size: 18px;
  line-height: 178%;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 150%;
  }
}

.advantages__item-description {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 150%;
  }
}
