@use "../common/variables.scss";

.catalog {
  display: flex;
  flex-direction: column;
  background-color: $lightest-grey;
  padding-top: 50px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-top: 100px;
    padding-bottom: 60px;
  }
}

.catalog__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: max-content 1fr;
  }
}

.catalog__badge {
  text-align: center;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

.catalog__title {
  text-align: center;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    justify-self: center;
    margin-bottom: 40px;
  }
}

.catalog__order {
  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}
