@use "../common/variables.scss";

.develop-logo-link {
  max-width: 206px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-top: 36px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  & > .develop-logo-link__text:hover,
  &:focus-visible > .develop-logo-link__text {
    color: $base-primary;
  }

  &:hover > .develop-logo-link__text::after,
  &:focus-visible > .develop-logo-link__text::after {
    background-color: $base-primary;
  }
}

.develop-logo-link__text {
  position: relative;
  font-size: 12px;
  line-height: 133%;
  color: $base-grey;
  transition: color 0.5s ease;

  &::after {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 12px;
    height: 16px;
    mask-image: url("../../icons/stack.svg#developer-logo");
    mask-repeat: no-repeat;
    mask-size: 12px 16px;
    mask-position: center;
    background-color: $base-grey;
    transition: background-color 0.5s ease;
  }
}
