@use "../common/variables.scss";

.footer {
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 21px;
  }

  @media (max-width: $pre-tablet) {
    overflow: hidden;
  }

  & a:not(.develop-logo-link) {
    transition: color 0.5s ease;

    &:hover,
    &:focus-visible {
      color: $primary-lighter;
    }

    &:active {
      color: $primary-darker;
    }
  }
}

.footer__center {
  display: grid;
}

.footer__desktop-nav-wrapper {
  display: contents;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 317px 318px 317px;
    gap: 30px;
  }
}

.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 19px;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
    padding-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 46px;
    padding-bottom: 0;
  }
}

.footer__logo {
  align-self: flex-start;

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 10px;

    & > picture {
      justify-self: start;
    }
  }
}

.footer_logo-description {
  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 143%;
  }
}

.footer__nav {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 223px);
    gap: 30px;
    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 347px);
    gap: 5px 0;
    padding-top: 0;
  }
}

.footer__develop-logo-link {
  justify-self: center;
}
