@use "../common/variables.scss";

.footer-element-mobile {
  padding-top: 21px;
  padding-bottom: 28px;

  &:not(:last-child) {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (max-width: $pre-tablet) {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      content: "";
      height: 1px;
      width: 100vw;
      background-color: $base-secondary;
      box-shadow: 100vw 0 $base-secondary, -100vw 0 $base-secondary;
    }
  }
}

.footer-element-mobile--align-pp {
  padding-top: 12px;
}
