@use "../common/variables.scss";

.footer {
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }

  @media (max-width: $pre-tablet) {
    overflow: hidden;
  }
}

.footer__desktop-nav-wrapper {
  display: contents;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 317px 318px 317px;
    gap: 30px;
  }
}

.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
  }
}

.footer__logo {
  align-self: flex-start;

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 10px;

    & > picture {
      justify-self: start;
    }
  }
}

.footer__social-list {
  @media (min-width: $desktop-width) {
    transform: translateX(-10px);
  }
}


.footer__nav {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 223px);
    gap: 30px;
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}
