@use "../common/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    gap: 68px;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    gap: 162px;
    padding-top: 10px;
  }

  @media (max-width: $pre-tablet) {
    position: relative;
  }
}

.header__logo {
  display: flex;
  align-self: start;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 20px;
  }
}

.header__logo-description {
  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 133%;
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 0 8px;
  max-width: 200px;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    gap: 0 64px;
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    gap: 0 157px;
  }
}

.header__nav-user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    gap: 0 18px;
    max-width: 109px;
  }

  @media (min-width: $desktop-width) {
    gap: 0 35px;
    max-width: 251px;
  }
}

.header__nav-button {
  --nav-icon: 0;
  position: relative;
  border: 1px solid transparent;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: color 0.5s ease, background-color 0.5s ease;

  &::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 16px;
    height: 16px;
    mask-image: var(--nav-icon);
    mask-repeat: no-repeat;
    mask-size: 16px 16px;
    mask-position: center;
    background-color: $base-black;
    transition: background-color 0.5s ease;
  }

  &:hover,
  &:focus-visible {
    color: $base-primary;
  }

  &:active {
    background-color: $base-secondary;
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: $base-primary;
  }

  &:active::before {
    background-color: $base-primary;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 103px;
    min-height: 60px;
    padding-left: 22px;
  }

  @media (max-width: $pre-tablet) {
    &:active::before {
      background-color: $base-black;
    }
  }
}

.header__nav-button--user {
  --nav-icon: url("../../icons/stack.svg#user-icon");

  @media (min-width: $desktop-width) {
    &::before {
      left: 18px;
    }
  }
}

.header__nav-button--basket {
  --nav-icon: url("../../icons/stack.svg#basket-icon");

  @media (min-width: $desktop-width) {
    &::before {
      left: 10px;
    }
  }
}

.header__nav-user-item-description {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-family: $monserrat-medium;
    font-size: 12px;
    line-height: 133%;
    text-transform: uppercase;
  }
}

.header__nav-button-burger {
  --burger-icon: 0;

  position: relative;
  align-self: center;
  border: 1px solid transparent;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  transform: translateX(10px);

  &::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 16px;
    height: 16px;
    mask-image: var(--burger-icon);
    mask-repeat: no-repeat;
    mask-size: 16px 16px;
    mask-position: center;
    background-color: $base-black;
    transition: background-color 0.3s ease;
  }

  &:active {
    background-color: $primary-opacity;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__nav-button-burger--open {
  --burger-icon: url("../../icons/stack.svg#burger-menu");
}

.header__nav-button-burger--close {
  --burger-icon: url("../../icons/stack.svg#burger-menu-close-icon");
}

.header__nav-wrapper {
  @media (min-width: $tablet-width) {
    display: contents;
  }

  @media (max-width: $pre-tablet) {
    display: none;
  }
}

.header__nav-wrapper--open {
  @media (max-width: $pre-tablet) {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: $base-white;
    z-index: 1;
  }

  @media (max-width: $pre-tablet) {
    & .header__nav-item {
      border-bottom: 1px solid $base-secondary;
    }

    & .header__nav-item:first-child {
      border-top: 1px solid $base-secondary;
    }

    & .header__nav-link {
      padding: 20px 0;
    }
  }
}

.header__nav-list {
  gap: 22px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3px;
    max-width: 405px;
  }

  @media (min-width: $desktop-width) {
    gap: 0 26px;
    max-width: 484px;
  }
}

.header__nav-link {
  display: flex;
  justify-content: center;
  font-family: $monserrat-medium;
  font-size: 12px;
  line-height: 133%;
  text-transform: uppercase;
  width: 320px;
  min-height: 57px;
  color: $base-black;
  cursor: pointer;
  transition: color 0.5s ease, background-color 0.5s ease;

  @media (min-width: $tablet-width) {
    width: 99px;
    min-height: 60px;
    align-items: center;
  }

  &:hover,
  &:focus-visible {
    color: $base-primary;
  }

  &:active {
    background-color: $base-secondary;
  }

  @media (max-width: $pre-tablet) {
    &:active {
      color: $base-black;
    }
  }
}

.header__nav-link--current {
  @media (min-width: $tablet-width) {
    position: relative;
    color: $base-primary;

    &::after {
      position: absolute;
      top: 116%;
      content: "";
      height: 2px;
      background-color: $base-primary;
      width: 100%;
    }
  }
}
