@use "../common/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 22px;
  }
}

.header__logo {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 20px;
  }
}

.header__logo-description {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 12px;
    line-height: 133%;
    margin: 0;
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    gap: 80px;
  }

  @media (min-width: $desktop-width) {
    gap: 202px;
  }
}

.header__nav-user-list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    gap: 38px;
  }

  @media (min-width: $desktop-width) {
    gap: 60px;
  }
}

.header__nav-button {
  --nav-icon: 0;
  position: relative;
  border: 1px solid transparent;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 16px;
    height: 16px;
    mask-image: var(--nav-icon);
    mask-repeat: no-repeat;
    mask-size: 16px 16px;
    mask-position: center;
    background-color: $base-black;
    transition: background-color 0.3s ease;
  }
}

.header__nav-button--user {
  --nav-icon: url("../../icons/stack.svg#user-icon");

  @media (min-width: $desktop-width) {
    &::before {
      left: -14px;
    }
  }
}

.header__nav-button--basket {
  --nav-icon: url("../../icons/stack.svg#basket-icon");

  @media (min-width: $desktop-width) {
    &::before {
      left: -14px;
    }
  }
}

.header__nav-user-item-description {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header__nav-button-burger {
  position: relative;
  border: 1px solid transparent;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &::before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 16px;
    height: 16px;
    mask-image: url("../../icons/stack.svg#burger-menu");
    mask-repeat: no-repeat;
    mask-size: 16px 16px;
    mask-position: center;
    background-color: $base-black;
    transition: background-color 0.3s ease;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__nav-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    gap: 60px;
  }
}

.header__nav-link {
  font-family: $monserrat-medium;
  font-size: 12px;
  line-height: 133%;
  text-transform: uppercase;
  color: $base-black;
  cursor: pointer;
}
