@use "../common/variables.scss";

.order {
  background-color: $lightest-grey;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.order__tablet-group {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 30px;
    margin-bottom: 40px;
  }

  @media (max-width: $pre-tablet) and (min-width: $pre-desktop) {
    display: contents;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.order__filter-fieldset {
  border: 1px solid transparent;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.order__filter-title,
.order__filter-label {
  font-size: 16px;
  line-height: 150%;
}

.order__filter-label {
  pointer-events: none;
}

.order__filter-label--radio {
  padding-left: 25px;
}

.order__filter-label--switch {
  position: relative;
  padding-left: 60px;
}

.order__filter-title {
  font-family: $monserrat-semiBold;
  margin-bottom: 20px;
}

.order__milk-item {
  position: relative;
  padding-left: 10px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.order__filter-value {
  display: none;
  margin-bottom: 24px;
}

.order__filter-input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0 36px;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 8px;
    height: 2px;
    background-color: $base-grey;
  }

  @media (min-width: $tablet-width) {
    display: inline-flex;
    gap: 0 48px;
  }

  @media (min-width: $desktop-width) {
    gap: 0 50px;
  }
}

.order__filter-input-number {
  font-family: $monserrat-medium;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $base-black;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  padding: 8px 10px;
  width: 118px;
  height: 40px;
  transition: border 0.5s ease;

  &:hover,
  &:focus-visible {
    border: 2px solid $primary-darker;
  }

  &:disabled {
    background-color: $lightest-grey;
    border: 2px solid $light-grey;
  }

  &::placeholder {
    color: $base-grey;
  }

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}

.order__milk-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order__input-radio {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 2px solid $base-grey;
  transition: border 0.7s ease, background-color 0.7s ease;

  &:checked {
    border: 2px solid $base-primary;
  }

  &:hover,
  &:focus-visible {
    border: 2px solid $primary-lighter;
    outline: 1px solid transparent;
  }

  &:hover:not(:disabled)::after,
  &:focus-visible:not(:disabled)::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(11%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: $primary-opacity;
  }

  &:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(11%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: $base-primary;
  }

  &:disabled {
    border-color: $light-grey;
  }

  &:disabled:checked::after {
    background-color: $light-grey;
  }
}

.order__country-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order__country-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.order__input-switch {
  position: absolute;
  appearance: none;
  border-radius: 12px;
  width: 42px;
  height: 24px;
  background-color: $base-grey;
  transition: background-color 0.5s ease;
  cursor: pointer;

  &:checked {
    background-color: $base-primary;
  }

  &:disabled {
    background-color: $light-grey;
  }

  &:disabled:hover,
  &:disabled:focus-visible {
    background-color: $light-grey;
    outline: 1px solid transparent;
    cursor: auto;
  }

  &:hover,
  &:focus-visible {
    background-color: $primary-opacity;
    outline: 2px solid $primary-lighter;
    outline-offset: 0;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: $base-white;
    transition: left 0.3s ease;
  }


  &:checked::before {
    left: 46%;
  }

  &:disabled::before {
    background-color: $lightest-grey;
  }

  &:disabled:checked::before {
    background-color: $base-grey;
  }
}

.order__button {
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 137px;
  }

  @media (min-width: $desktop-width) {
    min-width: 149px;
  }
}

.order__filter-button-group {
  display: flex;
  flex-direction: column;
  gap: 20px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
    gap: 10px 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.order__filter-slider {
  margin-bottom: 30px;
}
