@use "../common/variables.scss";

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    align-items: stretch;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    gap: 0 30px;
    text-align: start;
  }
}

.slider__picture {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) and (max-width: $pre-desktop) {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 289px;
    order: 1;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.slider__image {
  @media (min-width: $tablet-width) and (max-width: $pre-desktop) {
    max-width: 476px;
    min-height: 476px;
  }
}

.slider__text-elemnts-wrapper {
  @media (max-width: $pre-desktop) {
    display: contents;
  }
}

.slider__badge {
  margin-bottom: 4px;
}

.slider__product-title {
  font-family: $monserrat-bold;
  font-size: 36;
  line-height: 133%;
  letter-spacing: 0.02em;
  color: $base-black;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 143%;
    margin-bottom: 16px;
  }
}

.slider__product-description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 160%;
  }

  @media (max-width: $pre-tablet) {
    & br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.slider__product-price {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 10px 0;

  & > .slider__order-button:not(:last-child) {
    margin-right: 10px;
  }

  @media (min-width: $tablet-width) {
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.slider__product-old-price {
  font-size: 16px;
  line-height: 200%;
  color: $base-primary;
  text-decoration: line-through;
  margin: 0;
  margin-right: 6px;
}

.slider__product-new-price {
  margin-right: 20px;
}

.slider__button {
  position: absolute;
}

.slider__order-button {
  font-size: 16px;
  line-height: 150%;
  min-width: 113px;
}


.slider__pagination-list {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.slider__pagination-button {
  @media (min-width: $desktop-width) {
    border: 1px solid transparent;
    background-color: $base-white;
    width: 62px;
    height: 4px;
    cursor: pointer;
  }
}

.slider__pagination-item--current .slider__pagination-button {
  @media (min-width: $desktop-width) {
    background-color: $base-primary;
  }
}

