@use "../common/variables.scss";

.social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 160px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-list__link {
  --social-image: 0;
  position: relative;
  width: 40px;
  height: 40px;
  list-style: none;
  padding: 0;
  margin: 0;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 20px;
    height: 20px;
    mask-image: var(--social-image);
    mask-repeat: no-repeat;
    mask-size: 20px 20px;
    mask-position: center;
    background-color: $base-grey;
    transition: background-color 0.3s ease;
  }

  @media (min-width: $desktop-width) {
    &::before {
      left: auto;
      transform: translate(0, -50%);
    }
  }
}

.social-list__link--vk {
  --social-image: url("../../icons/stack.svg#social-vk-icon");
}

.social-list__link--pinterest {
  --social-image: url("../../icons/stack.svg#social-pinterest-icon");
}

.social-list__link--classmates {
  --social-image: url("../../icons/stack.svg#social-classmates-icon");
}
